/* ============================================ */
/* Collection: Primitives (154 variables) */
/* ============================================ */
:root {
  --color-alpha-black-alpha-0: rgba(0, 0, 0, 0);
  --color-alpha-black-alpha-10: rgba(0, 0, 0, 0.1);
  --color-alpha-black-alpha-12: rgba(0, 0, 0, 0.12);
  --color-alpha-black-alpha-16: rgba(0, 0, 0, 0.16);
  --color-alpha-black-alpha-2: rgba(0, 0, 0, 0.02);
  --color-alpha-black-alpha-24: rgba(0, 0, 0, 0.24);
  --color-alpha-black-alpha-4: rgba(0, 0, 0, 0.04);
  --color-alpha-black-alpha-8: rgba(0, 0, 0, 0.08);
  --color-alpha-white-alpha-0: rgba(255, 255, 255, 0);
  --color-alpha-white-alpha-10: rgba(255, 255, 255, 0.1);
  --color-alpha-white-alpha-12: rgba(255, 255, 255, 0.12);
  --color-alpha-white-alpha-16: rgba(255, 255, 255, 0.16);
  --color-alpha-white-alpha-2: rgba(255, 255, 255, 0.02);
  --color-alpha-white-alpha-24: rgba(255, 255, 255, 0.24);
  --color-alpha-white-alpha-4: rgba(255, 255, 255, 0.04);
  --color-alpha-white-alpha-8: rgba(255, 255, 255, 0.08);
  --color-blue-100: #cefefe;
  --color-blue-200: #9ef7ff;
  --color-blue-300: #6ee8fd;
  --color-blue-400: #49d4fb;
  --color-blue-500: #0eb7fa;
  --color-blue-600: #0a8ed6;
  --color-blue-700: #066bb3;
  --color-blue-800: #034c90;
  --color-blue-alpha-700: rgba(6, 107, 179, 0.2);
  --color-brand-100: #7a5b09;
  --color-brand-200: #947210;
  --color-brand-300: #b69218;
  --color-brand-400: #dcb325;
  --color-brand-50: #514202;
  --color-brand-500: #ffd732;
  --color-brand-600: #ffe466;
  --color-brand-700: #feeb84;
  --color-brand-800: #fff3ad;
  --color-brand-alpha-700: rgba(254, 235, 132, 0.2);
  --color-gray-0: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #ebebeb;
  --color-gray-300: #d1d1d1;
  --color-gray-400: #a3a3a3;
  --color-gray-50: #f7f7f7;
  --color-gray-500: #7b7b7b;
  --color-gray-600: #5c5c5c;
  --color-gray-700: #333333;
  --color-gray-800: #262626;
  --color-gray-900: #1c1c1c;
  --color-gray-950: #171717;
  --color-green-100: #d4fed8;
  --color-green-200: #a7feba;
  --color-green-300: #7bfaa3;
  --color-green-400: #59f499;
  --color-green-500: #25ed8b;
  --color-green-600: #1ccb88;
  --color-green-700: #12ab7f;
  --color-green-800: #0b8973;
  --color-green-alpha-700: rgba(18, 171, 127, 0.2);
  --color-red-100: #ffe8d6;
  --color-red-200: #ffccad;
  --color-red-300: #ffac84;
  --color-red-400: #ff8a66;
  --color-red-500: #fe5431;
  --color-red-600: #db3424;
  --color-red-700: #b61b19;
  --color-red-800: #920f17;
  --color-red-alpha-700: rgba(182, 27, 25, 0.2);
  --color-slate-0: #1f2224;
  --color-slate-100: #2c3134;
  --color-slate-200: #353a3d;
  --color-slate-300: #43484b;
  --color-slate-400: #5c6165;
  --color-slate-50: #25292c;
  --color-slate-500: #696e72;
  --color-slate-600: #767c7f;
  --color-slate-700: #aeb4b8;
  --color-slate-800: #eceef0;
  --color-slate-900: #f5f7fa;
  --color-slate-950: #ffffff;
  --color-yellow-100: #fdfed4;
  --color-yellow-200: #fefdab;
  --color-yellow-300: #fdfb82;
  --color-yellow-400: #faf961;
  --color-yellow-500: #f9f62f;
  --color-yellow-600: #d6d322;
  --color-yellow-700: #b3b017;
  --color-yellow-800: #908c0e;
  --color-yellow-alpha-700: rgba(179, 176, 23, 0.2);
  --neutral-gray-0: #ffffff;
  --neutral-gray-100: #f5f5f5;
  --neutral-gray-200: #ebebeb;
  --neutral-gray-300: #d1d1d1;
  --neutral-gray-400: #a3a3a3;
  --neutral-gray-50: #f7f7f7;
  --neutral-gray-500: #7b7b7b;
  --neutral-gray-600: #5c5c5c;
  --neutral-gray-700: #333333;
  --neutral-gray-800: #262626;
  --neutral-gray-900: #1c1c1c;
  --neutral-gray-950: #171717;
  --radius-100: 2px;
  --radius-200: 4px;
  --radius-300: 6px;
  --radius-400: 8px;
  --radius-50: 0px;
  --radius-500: 12px;
  --radius-600: 20px;
  --radius-900: 999px;
  --space-element-100: 2px;
  --space-element-1000: 20px;
  --space-element-1200: 32px;
  --space-element-200: 4px;
  --space-element-300: 6px;
  --space-element-400: 8px;
  --space-element-50: 0px;
  --space-element-500: 10px;
  --space-element-600: 12px;
  --space-element-700: 14px;
  --space-element-800: 16px;
  --space-element-900: 18px;
  --space-layout-100: 4px;
  --space-layout-200: 6px;
  --space-layout-300: 8px;
  --space-layout-400: 12px;
  --space-layout-50: 0px;
  --space-layout-500: 14px;
  --space-layout-600: 16px;
  --space-layout-700: 20px;
  --type-font-family-number: Segoe UI;
  --type-font-family-primary: Microsoft YaHei UI;
  --type-letter-spacing-0: 0em;
  --type-line-height-100: 18px;
  --type-line-height-1000: 64px;
  --type-line-height-200: 20px;
  --type-line-height-25: 14px;
  --type-line-height-300: 24px;
  --type-line-height-400: 26px;
  --type-line-height-50: 16px;
  --type-line-height-500: 28px;
  --type-line-height-600: 32px;
  --type-line-height-700: 40px;
  --type-line-height-800: 48px;
  --type-line-height-900: 56px;
  --type-size-100: 12px;
  --type-size-1000: 56px;
  --type-size-200: 14px;
  --type-size-300: 16px;
  --type-size-400: 18px;
  --type-size-50: 10px;
  --type-size-500: 20px;
  --type-size-600: 24px;
  --type-size-700: 32px;
  --type-size-800: 40px;
  --type-size-900: 48px;
  --type-weight-bold: 700;
  --type-weight-regular: 400;
}

/* ============================================ */
/* Collection: Semantic (73 variables) */
/* ============================================ */
:root {
  --color-bg-alpha-bg: var(--color-alpha-white-alpha-2);
  --color-bg-alpha-soft: var(--color-alpha-white-alpha-8);
  --color-bg-alpha-strong: var(--color-alpha-white-alpha-12);
  --color-bg-alpha-weak: var(--color-alpha-white-alpha-4);
  --color-bg-black: var(--color-slate-0);
  --color-bg-color-blue: var(--color-blue-200);
  --color-bg-color-green: var(--color-green-200);
  --color-bg-color-red: var(--color-red-200);
  --color-bg-color-yellow: var(--color-yellow-200);
  --color-bg-disabled: var(--color-slate-200);
  --color-bg-hover: var(--color-slate-100);
  --color-bg-pressed: var(--color-slate-50);
  --color-bg-reverse: var(--color-slate-900);
  --color-bg-reverse-hover: var(--color-gray-50);
  --color-bg-reverse-pressed: var(--color-gray-100);
  --color-bg-soft: var(--color-slate-100);
  --color-bg-sub: var(--color-slate-200);
  --color-bg-surface: var(--color-slate-300);
  --color-bg-weak: var(--color-slate-50);
  --color-icon-black: var(--color-slate-0);
  --color-icon-disabled: var(--color-slate-500);
  --color-icon-soft: var(--color-slate-700);
  --color-icon-strong: var(--color-slate-900);
  --color-icon-sub: var(--color-slate-800);
  --color-icon-weak: var(--color-slate-600);
  --color-primary-alpha: var(--color-brand-alpha-700);
  --color-primary-base: var(--color-brand-500);
  --color-primary-dark: var(--color-brand-400);
  --color-primary-darker: var(--color-brand-300);
  --color-static-black: var(--color-slate-0);
  --color-static-white: var(--color-gray-0);
  --color-status-error: var(--color-red-400);
  --color-status-error-bg: var(--color-red-alpha-700);
  --color-status-info: var(--color-blue-400);
  --color-status-info-bg: var(--color-blue-alpha-700);
  --color-status-success: var(--color-green-400);
  --color-status-success-bg: var(--color-green-alpha-700);
  --color-status-warning: var(--color-yellow-300);
  --color-status-warning-bg: var(--color-yellow-alpha-700);
  --color-stroke-active: var(--color-slate-400);
  --color-stroke-area: var(--color-alpha-white-alpha-10);
  --color-stroke-disabled: var(--color-slate-100);
  --color-stroke-soft: var(--color-slate-200);
  --color-stroke-strong: var(--color-slate-900);
  --color-stroke-sub: var(--color-slate-300);
  --color-text-black: var(--color-slate-0);
  --color-text-disabled: var(--color-slate-500);
  --color-text-soft: var(--color-slate-700);
  --color-text-strong: var(--color-slate-900);
  --color-text-sub: var(--color-slate-800);
  --color-text-weak: var(--color-slate-600);
  --radius-full: var(--radius-900);
  --radius-lg: var(--radius-300);
  --radius-md: var(--radius-200);
  --radius-none: var(--radius-50);
  --radius-sm: var(--radius-100);
  --radius-xl: var(--radius-400);
  --radius-xxl: var(--radius-500);
  --space-element-gap-lg: var(--space-element-600);
  --space-element-gap-md: var(--space-element-400);
  --space-element-gap-none: var(--space-element-50);
  --space-element-gap-sm: var(--space-element-200);
  --space-element-padding-2lg: var(--space-element-800);
  --space-element-padding-lg: var(--space-element-600);
  --space-element-padding-max: var(--space-element-1200);
  --space-element-padding-md: var(--space-element-400);
  --space-element-padding-mid: var(--space-element-200);
  --space-element-padding-min: var(--space-element-100);
  --space-element-padding-sm: var(--space-element-300);
  --space-layout-content-gap: var(--space-layout-100);
  --space-layout-page-padding: var(--space-layout-400);
  --space-layout-section-gap: var(--space-layout-300);
  --space-layout-section-gap-lg: var(--space-layout-700);
}
